.about {
  position: relative;
  padding: 80px 24px 24px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

.aboutPhoto {
  display: none;
}

.aboutDescription {
  width: 600px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.aboutTitle {
  margin-bottom: 40px;
}

@media screen and (min-width: 440px) {
  .aboutPhoto {
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    right: 40px;
    width: 130px;
    height: 150px;
  }
  .about {
    padding: 180px 40px 40px;
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .aboutPhoto {
    position: static;
    width: 260px;
    height: 300px;
  }
  .about {
    padding-top: 80px;
    display: flex;
    gap: 80px;
    justify-content: center;
    max-width: 800px;
  }
}

.aboutTitle {
  animation: titleAppear 2s linear;
}

.aboutText {
  animation: textAppear 2s linear;
}

.aboutSubtext {
  animation: subtextAppear 2s linear;
}

.aboutDesc {
  animation: descAppear 2s linear;
}

.aboutDescr {
  animation: descrAppear 2s linear;
}

@keyframes titleAppear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes subtextAppear {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes descAppear {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes descrAppear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}
