.contacts {
  max-width: 320px;
  padding: 80px 24px 24px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.contactsMail,
.contactsTelegram,
.contactsLinkedin,
.contactsGit {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  color: #3b06cf;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: all 100ms linear;
}

.contactsMail:hover,
.contactsTelegram:hover,
.contactsLinkedin:hover,
.contactsGit:hover,
.contactsMail:focus,
.contactsTelegram:focus,
.contactsLinkedin:focus,
.contactsGit:focus {
  text-decoration: underline;
  font-weight: 700;
}

.contactsTitle {
  margin-bottom: 60px;
}
.contactsList {
  list-style: none;
  padding: 0;
}

.contactsItem:first-child {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}

.contactsItem:not(:last-child) {
  margin-bottom: 12px;
}

@media screen and (min-width: 440px) {
  .contacts,
  .contactsMail,
  .contactsTelegram,
  .contactsLinkedin,
  .contactsGit {
    font-size: 20px;
    line-height: 24px;
  }
}

.contactsTitle {
  animation: titleAppear 2s linear;
}

.contactsMail {
  animation: mailAppear 2s linear;
}

.contactsTelegram {
  animation: telegramAppear 2s linear;
}

.contactsLinkedin {
  animation: linkedinAppear 2s linear;
}

.contactsGit {
  animation: gitAppear 2s linear;
}

@keyframes titleAppear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mailAppear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes telegramAppear {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes linkedinAppear {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gitAppear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
