.project {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
}

.projectImage {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.projectDescription {
  margin-bottom: 4px;
}

.projectLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3b06cf;
  text-decoration: none;
  transition: all 100ms linear;
}

.projectLink:hover,
.projectLink:focus {
  text-decoration: underline;
  font-weight: 800;
}

@media screen and (min-width: 1080px) {
  .project {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    line-height: 24px;
  }

  .projectImage {
    width: 300px;
    height: 150px;
    margin: 0 auto;
  }

  .projectDescription {
    margin-bottom: 40px;
  }

  .projectLink {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #3b06cf;
  }
}
