.header {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #3b06cf;
}

.nav {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.active {
  font-weight: 700;
  color: #3b06cf;
  text-decoration: none; 
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;  
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #3b06cf;
}

.loader {
  margin: 120px auto;
  text-align: center;
}

.loaderSpan { 
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.loaderIcon {
  margin-top: 2px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.themeButtonLight {
  background-color: rgb(229, 249, 252);
  color: #3b06cf;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
}

.themeButtonDark {
  background-color: rgb(12, 7, 33);
  color: #3b06cf;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
}

.themeIcon {
  width: 20px;
  height: 24px;
}
