.skillsDescription {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.skills {
  padding: 24px;
  max-width: 340px;
  margin: 0 auto;
}

.skillsTechTitle,
.skillsSoftTitle {
  margin-bottom: 20px;
}

.skillsLink {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #3b06cf;
  text-decoration: none;
  transition: all 100ms linear; 
}

.skillsLink:hover,
.skillsLink:focus {
  text-decoration:underline;
  font-weight: 800; 
}

.skillsItem:not(:last-child) {
  margin-bottom: 4px;
}

.skillsDescr {
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .skillsDescription {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .skills {
    padding-top: 40px;
    max-width: 720px;
    margin: 0 auto;
  }

  .skillsTechTitle,
  .skillsSoftTitle {
    margin-bottom: 40px;
  }

  .skillsLink {
    margin-left: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #3b06cf;
  }

  .skillsItem:not(:last-child) {
    margin-bottom: 12px;
  }

  .skillsDescr {
    margin-bottom: 20px;
  }
}

.skillsTechTitle {
  animation: techTitleAppear 2s linear;
}

.skillsTech {
  animation: techAppear 2s linear;
}

.skillsSoftTitle {
  animation: softTitleAppear 2s linear;
}

.skillsSoft {
  animation: softAppear 2s linear;
}

.skillsDescr {
  animation: descrAppear 2s linear;
}

@keyframes techTitleAppear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes techAppear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes softTitleAppear {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes softAppear {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes descrAppear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}

