.dark {
  height: 100vh;
  color: #3b06cf;
  background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
}

.light {
  height: 100vh;
  color: rgb(59, 6, 207);
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
}
